.friendList {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 540px;
	margin: 0 auto;
	margin-bottom: 50px;

	& .friendListItem {
		border: 2px solid black;
		border-radius: 10px;
		padding: 10px;
		font-size: 20px;
		font-weight: var(--semiBold);
		text-align: center;
		width: calc(540px / 5);
	}
}